window#waybar {
    font-family: "Fira Code Nerd Font";
    background-color: rgba(0,0,0,0);
    font-size: 0.9rem;
    font-weight:bolder;
    border-radius: 0.5rem;
}

.modules-left, .modules-center {
    opacity: 1;
    background: linear-gradient(45deg, rgb(214, 39, 200), rgb(5, 83, 252));
    border-radius: 0.5rem;
    padding: 2px;
    font-size: 16;
}

.modules-right {
    opacity: 1;
    background: linear-gradient(45deg, rgb(5, 83, 252), rgb(214, 39, 200));
    border-radius: 0.5rem;
    padding: 2px 2px 2px 10px;
    font-size: 16;
}

/* label.module {
    margin-left: -1px;
} */

#workspaces {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    padding: 0 7px;
	font-size:21;
}

#workspaces button {
    font-size: 20;
    padding: 0 0.3rem 0 0;
}

#window {
    background-color: rgba(0,0,0,0.33);
    border-radius: 0.5rem;
	font-weight:bolder;
	font-size:16;
    padding: 2px 5px;
}

#clock {
    font-weight: bolder;
    border-radius: 0.5rem;
    padding: 0 3px 0 0;
	background: linear-gradient(45deg, rgb(5, 83, 252), rgb(214, 39, 200));
    font-size: 16;
}

#battery {
    color: white;
    font-size: 16;
}

#memory {
    color: white;
    font-size: 16;
}

#disk {
    color: white;
    font-size: 16;
}

#cpu {
    color: white;
    font-size: 16;
}

#temperature {
    color: white;
    font-size: 16;
}

#rotate-screen,
#reset-screen {
	font-weight: bold;
    border-radius: 0.5rem;
    padding: 0 3px 0 0;
	background: linear-gradient(45deg, rgb(5, 83, 252), rgb(214, 39, 200));
}

#logo {
    font-weight: bolder;
    font-size:22;
}