@define-color base rgba(35, 33, 54, 1);
@define-color surface rgba(42, 39, 63, 1);
@define-color overlay rgba(57, 53, 82, 1);
@define-color muted rgba(110, 106, 134, 1);
@define-color subtle rgba(144, 140, 170, 1);
@define-color text rgba(224, 222, 244, 1);
@define-color love rgba(235, 111, 146, 1);
@define-color gold rgba(246, 193, 119, 1);
@define-color rose rgba(234, 154, 151, 1);
@define-color pine rgba(62, 143, 176, 1);
@define-color foam rgba(156, 207, 216, 1);
@define-color iris rgba(196, 167, 231, 1);
@define-color highlight-low rgba(42, 40, 62, 1);
@define-color highlight-med rgba(68, 65, 91, 1);
@define-color highlight-high rgba(86, 82, 110, 1);

window#waybar {
  font-family: "FiraCode Nerd Font";
  opacity:1;
  background-color:rgba(0,0,0,0);
  padding:1 3px;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @base;
  opacity:1;
  padding:4px;
  margin:0px 0px 0px 0px;
}

.modules-left {
  border-radius: 0px 0px 16px 0px;
}

.modules-right {
  border-radius: 0px 0px 0px 16px;
}

.modules-center {
  border-radius: 0px 0px 16px 16px;
}

#custom-slope-left,
#custom-slope-right {
  background-color:@iris;
}

#backlight,
#temperature,
#memory,
#cpu,
#wireplumber,
#disk,
#window,
#battery,
#wireplumber,
#window,
#cpu,
#memory,
#temperature,
#custom-charge,
#disk, 
#bluetooth,
#network,
#custom-battery,
#custom-players {
  background-color:@surface;
  color:@subtle;
  padding:5 7px;
  margin: 1px 1 1px 1;
  border-radius:42px;
}

@keyframes cava-fade {
  from {
    color:@pine;
  } to {
    color:@iris;
  }
}

#custom-cava {
  background-color: @surface;
  animation: cava-fade 42s ease-in-out infinite alternate;
  padding:5px 7px;
  margin: 1px 1px 1px 1px;
  border-radius:42px;
}

#custom-recording-status.off {
  color:@foam;
}

#custom-wireguard-manager.connected,
#custom-ollama-status.connected,
#custom-rotation-status.connected
{
  color:@foam;
  animation: fade 0.5s ease-in-out infinite alternate;
}

#custom-wireguard-manager.disconnected, 
#custom-ollama-status.disconnected,
#custom-rotation-status.disconnected, 
#custom-recording-status.on
{
  color:@love;
}

#custom-recording {
  color:@muted;
}

#left-separator,
#right-separator,
#middle-separator {
  color:@muted;
}

@keyframes workspace-pulse {
  from {
    color:@subtle;
  } to {
    color:@rose;
  }
}

#workspaces button:hover {

  background-color:@base;
  
  animation-name: workspace-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color:@subtle;
  padding:5 7px;
  margin: 1px 1 1px 1;
  transition:color 200ms ease-in-out;
  background:rgba(0,0,0,0);
  border:rgba(0,0,0,0);
  padding:5 7px;
  margin: 1px 1 1px 1;
}

#workspaces button.active:hover {
  animation-name:iris-pulse;
  animation-duration:0.7s;
  animation-timing-function:ease-in-out;
  animation-direction:alternate;
}

#workspaces button.selected,
#workspaces button.active{
  color:@iris;
}

#workspaces button.urgent{
  color:@gold;
}

#workspaces button {
  color:@subtle;
}

@keyframes mpd-fade {
  from {
    color:@iris;
  } to {
    color:@subtle;
  }
}

#mpd {
  padding: 7px 13px;
  color:@iris;
  background:@surface;
  border-radius:42px;
}

#mpd.disconnected {
  color:@love;
}

#mpd.stopped {
  color:@gold;
}

#mpd.paused {
  color:@foam;
}


#mpd.playing {
  color:@iris;
  animation: mpd-fade ;
  animation-duration:0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate
}


#mpd:hover {
  animation-name: mpd-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate
}


#custom-expand-right,
#custom-expand-left,
#custom-tray-display {
  padding:1 3px ;
  color:@text;
}


#custom-expand-right {
  color:@iris;
}

#custom-expand-right.on:hover, 
#custom-expand-right:hover {
  color:@rose;
  animation: fade 0.5s ease-in-out infinite alternate;
}

#custom-expand-right.off {
  color:@text;
}

@keyframes fade {
  from {
    opacity:1;
  } to {
    opacity:0.5;
  }
}

#custom-powermenu { 
  color:@text;
  background:@base;
  padding:1px 3px;
  margin: 1px 1px 1px 1px;
  border-radius:42px;
}

#custom-powermenu:hover {
  color:@iris;
  animation: fade 0.5s ease-in-out infinite alternate;
}

#custom-lock:hover {
  color:@text;
}

#custom-poweroff,
#custom-reboot,
#custom-logout,
#custom-lock,
#custom-sleep,
#custom-charge,
#network,
#bluetooth,
#backlight,
#custom-recording-status,
#wireplumber,
#tray,
#custom-datetime,
#custom-ollama-status,
#custom-rotation-status
{
  padding:0px 8px;
  background:@surface;
  color:@iris;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:0px;
  margin-left:0px;
  border:none;
}

#backlight,
#custom-recording-status,
#custom-sleep,
#wireplumber {
  border-top-left-radius:42px;
  border-bottom-left-radius:42px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  margin-right:0px;
}

#custom-reboot,
#custom-logout,
#custom-lock,
#custom-sleep,
#bluetooth {
  border-radius:0px;
}

#custom-sleep:hover {
  color:@rose;
}

#custom-poweroff, 
#network,
#custom-datetime,
#custom-rotation-status,
#custom-ollama-status 
{
  border-top-right-radius:42px;
  border-bottom-right-radius:42px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  margin-left:0px;
}

@keyframes iris-pulse {
    from {
	color:@subtle;
    }

    to {
	color: @iris;
    }
}

#window:hover {
    animation-name: iris-pulse;
animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#custom-clock,
#datetime {
  background:@surface;
  color:@iris;
  border-radius:42px;
  padding:0px 8px;
  margin-top:2px;
  margin-bottom:2px;
  margin-right:0px;
  margin-left:0px;
  border:none;
}

#custom-logout:hover,
#battery.full:hover {
  color:@foam;
}

#custom-reboot:hover
{
  color:@gold;
}

#custom-poweroff:hover
{
  color:@love;
}

@keyframes charge-pulse {
  from {
    color:@subtle;
  }
  to {
    color:@gold;
  }
}

@keyframes discharge-pulse {
  from {
    color:@subtle;
  }
  to {
    color:@love;
  }
}

@keyframes foam-pulse {
  from {
    color:@subtle;
  } to {
    color:@foam;
  }
}

#battery.charging {
  animation-name: foam-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging {
  animation-name: iris-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  animation-name: charge-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  animation-name: discharge-pulse;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-battery:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-charge:hover,
#disk:hover {
  color:@iris;
}


#custom-sleep {
  border-top-left-radius:42px;
  border-bottom-left-radius:42px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
}

#custom-tray-display:hover {
  color:@foam;
  animation: fade 0.5s ease-in-out infinite alternate;
}

#window:hover,
#custom-datetime:hover,
#bluetooth:hover,
#custom-clock:hover,
#clock:hover {
  animation:foam-pulse;
  animation-duration:0.7s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

#network:hover,
#backlight:hover {
  color:@text;
}

#temperature.critical {
  color:@love;
}

#custom-heart {
  border-radius: 16px 16px 16px 16px;
  padding:1px 13px;
  background-color:@surface;
}

@keyframes heart-good {
  from {
    color:@pine;
  } to {
    color:@foam;
  }
}

@keyframes heart-okay {
  from {
    color:@foam;
  } to {
    color:@iris;
  }
}

@keyframes heart-bad {
  from {
    color:@gold;
  } to {
    color:@rose;
  }
}

@keyframes heart-critical {
  from {
    color:@rose;
  } to {
    color:@love;
  }
}

#custom-heart.good {
  animation: heart-good 0.7s ease-in-out infinite alternate;
}

#custom-heart.okay {
  animation: heart-okay 0.5s ease-in-out infinite alternate;
}

#custom-heart.bad {
  animation: heart-bad 0.3s ease-in-out infinite alternate;
}

#custom-heart.critical {
  animation: heart-critical 0.2s ease-in-out infinite alternate;

}
